
.navbar button {
margin-top: 0%;
}

.navbar input {
    text-align: center;
}

.card-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.card1 {
    margin-left: 20px;
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.card2 {
    
    margin-right: 50px;
    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.card3 {

    width: 25rem; 
    border: 1px solid rgba(0,0,0,.125);
}

.card-group img{
    height: 300px;
    width: 400px;
}
form{
    
    margin-left: 20px;
    margin-right: 800px;   
    
}
